In [2]:
import json
import pandas as pd
import numpy as np

import re

from sqlalchemy import create_engine
import psycopg2

# from config import db_password

import time

In [3]:
# 1. Add the clean movie function that takes in the argument, "movie".
def clean_movie(movie):
    movie = dict(movie) # create a non-destructive copy
    return movie

In [61]:
# 2 Add the function that takes in three arguments;
# Wikipedia data, Kaggle metadata, and MovieLens rating data (from Kaggle)

def movie_data():
    # Read in the kaggle metadata and MovieLens ratings CSV files as Pandas DataFrames.
    kaggle_metadata = pd.read_csv(f'{file_dir}movies_metadata.csv', low_memory=False)
    ratings = pd.read_csv(f'{file_dir}ratings.csv')

    # Open and read the Wikipedia data JSON file.
    with open(f'{file_dir}/wikipedia-movies.json', mode='r') as file:
        wiki_movies_raw = json.load(file)
    
    # 3. Write a list comprehension to filter out TV shows from wiki_movies_raw
    wiki_movies = [movie for movie in wiki_movies_raw if 'No. of episodes' not in movie]

    # 4. Write a list comprehension to iterate through the cleaned wiki movies list
    # and call the clean_movie function on each movie.
    clean_movies = [clean_movie(movie) for movie in wiki_movies]

    # 5. Read in the cleaned movies list from Step 4 as a DataFrame.
    wiki_movies_df = pd.DataFrame(clean_movies)



    # 6. Write a try-except block to catch errors while extracting the IMDb ID using a regular expression string and
    #  dropping any imdb_id duplicates. If there is an error, capture and print the exception.
    # try: 
    wiki_movies_df['imdb_id'] = wiki_movies_df['imdb_link'].str.extract(r'(tt\d{7})')
    wiki_movies_df.drop_duplicates(subset='imdb_id', inplace=True)
    # except: 

    #  7. Write a list comprehension to keep the columns that don't have null values from the wiki_movies_df DataFrame.
    wiki_columns_to_keep = [column for column in wiki_movies_df.columns if wiki_movies_df[column].isnull().sum() < len(wiki_movies_df) * 0.9]
    wiki_movies_df = wiki_movies_df[wiki_columns_to_keep]

    # 8. Create a variable that will hold the non-null values from the “Box office” column.
    box_office = wiki_movies_df['Box office'].dropna()
    
    # 9. Convert the box office data created in Step 8 to string values using the lambda and join functions.
    box_office[box_office.map(lambda x: type(x) != str)]


    # 10. Write a regular expression to match the six elements of "form_one" of the box office data.
    box_office = box_office.str.replace(r'\$.*[-—–](?![a-z])', '$', regex=True)
    form_one = r'\$\s*\d+\.?\d*\s*[mb]illi?on'
    
    box_office.str.contains(form_one, flags=re.IGNORECASE).sum()   

#     # 11. Write a regular expression to match the three elements of "form_two" of the box office data.
    form_two = r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)'
    box_office.str.contains(form_two, flags=re.IGNORECASE).sum()

    # 12. Add the parse_dollars function.
   
    def parse_dollars(s):
        if type(s) != str:
            return np.nan
        if re.match(r'\$\s*\d+\.?\d*\s*milli?on', s, flags=re.IGNORECASE):
            s = re.sub('\$|\s|[a-zA-Z]','', s)
            value = float(s) * 10**6
            return value
        elif re.match(r'\$\s*\d+\.?\d*\s*billi?on', s, flags=re.IGNORECASE):
            s = re.sub('\$|\s|[a-zA-Z]','', s)
            value = float(s) * 10**9
            return value
        elif re.match(r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)', s, flags=re.IGNORECASE):
            s = re.sub('\$|,','', s)
            value = float(s)
            return value

        else:
            return np.nan
        
    # 13. Clean the box office column in the wiki_movies_df DataFrame.
    wiki_movies_df['box_office'] = box_office.str.extract(f'({form_one}|{form_two})', flags=re.IGNORECASE)[0].apply(parse_dollars)

    
    # 14. Clean the budget column in the wiki_movies_df DataFrame.
    budget = wiki_movies_df['Budget'].dropna()
    budget = budget.map(lambda x: ' '.join(x) if type(x) == list else x)
    budget = budget.str.replace(r'\$.*[-—–](?![a-z])', '$', regex=True)

    wiki_movies_df['budget'] = budget.str.extract(f'({form_one}|{form_two})', flags=re.IGNORECASE)[0].apply(parse_dollars)


    # 15. Clean the release date column in the wiki_movies_df DataFrame.
    release_date = wiki_movies_df['Release date'].dropna().apply(lambda x: ' '.join(x) if type(x) == list else x)


    # 16. Clean the running time column in the wiki_movies_df DataFrame.
    running_time = wiki_movies_df['Running time'].dropna().apply(lambda x: ' '.join(x) if type(x) == list else x)
    running_time_extract = running_time.str.extract(r'(\d+)\s*ho?u?r?s?\s*(\d*)|(\d+)\s*m')
    running_time_extract = running_time_extract.apply(lambda col: pd.to_numeric(col, errors='coerce')).fillna(0)
    wiki_movies_df['running_time'] = running_time_extract.apply(lambda row: row[0]*60 + row[1] if row[2] == 0 else row[2], axis=1)

    # Return three variables. The first is the wiki_movies_df DataFrame
    
    return wiki_movies_df, kaggle_metadata, ratings

In [62]:
movie_data()

(                                                    url    year  \
 0     https://en.wikipedia.org/wiki/The_Adventures_o...  1990.0
 1     https://en.wikipedia.org/wiki/After_Dark,_My_S...  1990.0
 2      https://en.wikipedia.org/wiki/Air_America_(film)  1990.0
 3       https://en.wikipedia.org/wiki/Alice_(1990_film)  1990.0
 4         https://en.wikipedia.org/wiki/Almost_an_Angel  1990.0
 ...                                                 ...     ...
 7300    https://en.wikipedia.org/wiki/Holmes_%26_Watson  2018.0
 7301     https://en.wikipedia.org/wiki/Vice_(2018_film)  2018.0
 7302  https://en.wikipedia.org/wiki/On_the_Basis_of_Sex  2018.0
 7303  https://en.wikipedia.org/wiki/Destroyer_(2018_...  2018.0
 7304  https://en.wikipedia.org/wiki/Black_Mirror:_Ba...  2018.0

                                   imdb_link                            title  \
 0     https://www.imdb.com/title/tt0098987/  The Adventures of Ford Fairlane
 1     https://www.imdb.com/title/tt0098994/             After Dark, My Sweet
 2     https://www.imdb.com/title/tt0099005/                      Air America
 3     https://www.imdb.com/title/tt0099012/                            Alice
 4     https://www.imdb.com/title/tt0099018/                  Almost an Angel
 ...                                     ...                              ...
 7300  https://www.imdb.com/title/tt1255919/                  Holmes & Watson
 7301  https://www.imdb.com/title/tt6266538/                             Vice
 7302  https://www.imdb.com/title/tt4669788/              On the Basis of Sex
 7303  https://www.imdb.com/title/tt7137380/                        Destroyer
 7304  https://www.imdb.com/title/tt9495224/                     Bandersnatch

              Directed by                                        Produced by  \
 0           Renny Harlin                         [Steve Perry, Joel Silver]
 1            James Foley                        [Ric Kidney, Robert Redlin]
 2     Roger Spottiswoode                                     Daniel Melnick
 3            Woody Allen                                    Robert Greenhut
 4           John Cornell                                       John Cornell
 ...                  ...                                                ...
 7300          Etan Cohen  [Will Ferrell, Adam McKay, Jimmy Miller, Clayt...
 7301          Adam McKay  [Brad Pitt, Dede Gardner, Jeremy Kleiner, Kevi...
 7302          Mimi Leder                                     Robert W. Cort
 7303        Karyn Kusama             [Fred Berger, Phil Hay, Matt Manfredi]
 7304         David Slade                                     Russell McLean

                                    Screenplay by                     Story by  \
 0     [David Arnott, James Cappe, Daniel Waters]  [David Arnott, James Cappe]
 1                   [James Foley, Robert Redlin]                          NaN
 2                     [John Eskow, Richard Rush]                          NaN
 3                                            NaN                          NaN
 4                                            NaN                          NaN
 ...                                          ...                          ...
 7300                                  Etan Cohen                          NaN
 7301                                         NaN                          NaN
 7302                                         NaN                          NaN
 7303                                         NaN                          NaN
 7304                                         NaN                          NaN

                                                Based on  \
 0                           [Characters, by Rex Weiner]
 1     [the novel, After Dark, My Sweet, by, Jim Thom...
 2                [Air America, by, Christopher Robbins]
 3                                                   NaN
 4                                                   NaN
 ...                                                 ...
 7300  [Sherlock Holmes, and, Dr. Watson, by, Sir Art...
 7301                                                NaN
 7302                                                NaN
 7303                                                NaN
 7304                                                NaN

                                                Starring  ...         Country  \
 0     [Andrew Dice Clay, Wayne Newton, Priscilla Pre...  ...   United States
 1     [Jason Patric, Rachel Ward, Bruce Dern, George...  ...   United States
 2     [Mel Gibson, Robert Downey Jr., Nancy Travis, ...  ...   United States
 3     [Alec Baldwin, Blythe Danner, Judy Davis, Mia ...  ...   United States
 4           [Paul Hogan, Elias Koteas, Linda Kozlowski]  ...              US
 ...                                                 ...  ...             ...
 7300  [Will Ferrell, John C. Reilly, Rebecca Hall, R...  ...   United States
 7301  [Christian Bale, Amy Adams, Steve Carell, Sam ...  ...   United States
 7302  [Felicity Jones, Armie Hammer, Justin Theroux,...  ...   United States
 7303  [Nicole Kidman, Sebastian Stan, Toby Kebbell, ...  ...   United States
 7304  [Fionn Whitehead, Will Poulter, Craig Parkinso...  ...  United Kingdom

             Language       Budget        Box office  \
 0            English  $20 million     $21.4 million
 1            English   $6 million      $2.7 million
 2     [English, Lao]  $35 million       $57,718,089
 3            English  $12 million        $7,331,647
 4            English  $25 million  $6,939,946 (USA)
 ...              ...          ...               ...
 7300         English  $42 million     $41.9 million
 7301         English  $60 million     $76.1 million
 7302         English  $20 million     $38.4 million
 7303         English   $9 million      $5.5 million
 7304         English          NaN               NaN

                      Written by  \
 0                           NaN
 1                           NaN
 2                           NaN
 3                   Woody Allen
 4                    Paul Hogan
 ...                         ...
 7300                        NaN
 7301                 Adam McKay
 7302          Daniel Stiepleman
 7303  [Phil Hay, Matt Manfredi]
 7304            Charlie Brooker

                                    Productioncompanies     imdb_id  \
 0                                                   NaN  tt0098987
 1                                                   NaN  tt0098994
 2                                                   NaN  tt0099005
 3                                                   NaN  tt0099012
 4                                                   NaN  tt0099018
 ...                                                 ...        ...
 7300  [Columbia Pictures, Gary Sanchez Productions, ...  tt1255919
 7301                                                NaN  tt6266538
 7302  [Focus Features, [1], Participant Media, [1], ...  tt4669788
 7303                                                NaN  tt7137380
 7304                                                NaN  tt9495224

       box_office      budget running_time
 0     21400000.0  20000000.0        102.0
 1      2700000.0   6000000.0        114.0
 2     57718089.0  35000000.0        113.0
 3      7331647.0  12000000.0        106.0
 4      6939946.0  25000000.0         95.0
 ...          ...         ...          ...
 7300  41900000.0  42000000.0         90.0
 7301  76100000.0  60000000.0        132.0
 7302  38400000.0  20000000.0        120.0
 7303   5500000.0   9000000.0        123.0
 7304         NaN         NaN         90.0

 [7050 rows x 27 columns],
        adult                              belongs_to_collection    budget  \
 0      False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
 1      False                                                NaN  65000000
 2      False  {'id': 119050, 'name': 'Grumpy Old Men Collect...         0
 3      False                                                NaN  16000000
 4      False  {'id': 96871, 'name': 'Father of the Bride Col...         0
 ...      ...                                                ...       ...
 45461  False                                                NaN         0
 45462  False                                                NaN         0
 45463  False                                                NaN         0
 45464  False                                                NaN         0
 45465  False                                                NaN         0

                                                   genres  \
 0      [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
 1      [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
 2      [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
 3      [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
 4                         [{'id': 35, 'name': 'Comedy'}]
 ...                                                  ...
 45461  [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
 45462                      [{'id': 18, 'name': 'Drama'}]
 45463  [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
 45464                                                 []
 45465                                                 []

                                    homepage      id    imdb_id  \
 0      http://toystory.disney.com/toy-story     862  tt0114709
 1                                       NaN    8844  tt0113497
 2                                       NaN   15602  tt0113228
 3                                       NaN   31357  tt0114885
 4                                       NaN   11862  tt0113041
 ...                                     ...     ...        ...
 45461  http://www.imdb.com/title/tt6209470/  439050  tt6209470
 45462                                   NaN  111109  tt2028550
 45463                                   NaN   67758  tt0303758
 45464                                   NaN  227506  tt0008536
 45465                                   NaN  461257  tt6980792

       original_language               original_title  \
 0                    en                    Toy Story
 1                    en                      Jumanji
 2                    en             Grumpier Old Men
 3                    en            Waiting to Exhale
 4                    en  Father of the Bride Part II
 ...                 ...                          ...
 45461                fa                      رگ خواب
 45462                tl          Siglo ng Pagluluwal
 45463                en                     Betrayal
 45464                en          Satana likuyushchiy
 45465                en                     Queerama

                                                 overview  ... release_date  \
 0      Led by Woody, Andy's toys live happily in his ...  ...   1995-10-30
 1      When siblings Judy and Peter discover an encha...  ...   1995-12-15
 2      A family wedding reignites the ancient feud be...  ...   1995-12-22
 3      Cheated on, mistreated and stepped on, the wom...  ...   1995-12-22
 4      Just when George Banks has recovered from his ...  ...   1995-02-10
 ...                                                  ...  ...          ...
 45461        Rising and falling between a man and woman.  ...          NaN
 45462  An artist struggles to finish his work while a...  ...   2011-11-17
 45463  When one of her hits goes wrong, a professiona...  ...   2003-08-01
 45464  In a small town live two brothers, one a minis...  ...   1917-10-21
 45465  50 years after decriminalisation of homosexual...  ...   2017-06-09

            revenue runtime                                   spoken_languages  \
 0      373554033.0    81.0           [{'iso_639_1': 'en', 'name': 'English'}]
 1      262797249.0   104.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
 2              0.0   101.0           [{'iso_639_1': 'en', 'name': 'English'}]
 3       81452156.0   127.0           [{'iso_639_1': 'en', 'name': 'English'}]
 4       76578911.0   106.0           [{'iso_639_1': 'en', 'name': 'English'}]
 ...            ...     ...                                                ...
 45461          0.0    90.0             [{'iso_639_1': 'fa', 'name': 'فارسی'}]
 45462          0.0   360.0                  [{'iso_639_1': 'tl', 'name': ''}]
 45463          0.0    90.0           [{'iso_639_1': 'en', 'name': 'English'}]
 45464          0.0    87.0                                                 []
 45465          0.0    75.0           [{'iso_639_1': 'en', 'name': 'English'}]

          status                                            tagline  \
 0      Released                                                NaN
 1      Released          Roll the dice and unleash the excitement!
 2      Released  Still Yelling. Still Fighting. Still Ready for...
 3      Released  Friends are the people who let you be yourself...
 4      Released  Just When His World Is Back To Normal... He's ...
 ...         ...                                                ...
 45461  Released         Rising and falling between a man and woman
 45462  Released                                                NaN
 45463  Released                             A deadly game of wits.
 45464  Released                                                NaN
 45465  Released                                                NaN

                              title  video vote_average vote_count
 0                        Toy Story  False          7.7     5415.0
 1                          Jumanji  False          6.9     2413.0
 2                 Grumpier Old Men  False          6.5       92.0
 3                Waiting to Exhale  False          6.1       34.0
 4      Father of the Bride Part II  False          5.7      173.0
 ...                            ...    ...          ...        ...
 45461                       Subdue  False          4.0        1.0
 45462          Century of Birthing  False          9.0        3.0
 45463                     Betrayal  False          3.8        6.0
 45464             Satan Triumphant  False          0.0        0.0
 45465                     Queerama  False          0.0        0.0

 [45466 rows x 24 columns],
           userId  movieId  rating   timestamp
 0              1      110     1.0  1425941529
 1              1      147     4.5  1425942435
 2              1      858     5.0  1425941523
 3              1     1221     5.0  1425941546
 4              1     1246     5.0  1425941556
 ...          ...      ...     ...         ...
 26024284  270896    58559     5.0  1257031564
 26024285  270896    60069     5.0  1257032032
 26024286  270896    63082     4.5  1257031764
 26024287  270896    64957     4.5  1257033990
 26024288  270896    71878     2.0  1257031858

 [26024289 rows x 4 columns])

In [9]:
# 17. Create the path to your file directory and variables for the three files.
file_dir = '/Users/RyanCook/Desktop/Movies-ETL/' 
# The Wikipedia data
wiki_file = f'{file_dir}/wikipedia.movies.json'
# The Kaggle metadata
kaggle_file = f'{file_dir}/movies_metadata.csv'
# The MovieLens rating data.
ratings_file = f'{file_dir}/ratings.csv'

In [11]:
# 18. Set the three variables equal to the function created in D1.
wiki_file, kaggle_file, ratings_file = movie_data()

NameError: name 'budget' is not defined

In [ ]:
# 19. Set the wiki_movies_df equal to the wiki_file variable. 
wiki_movies_df = wiki_file

In [7]:
# 20. Check that the wiki_movies_df DataFrame looks like this. 
wiki_movies_df.head()

In [8]:
# 21. Check that wiki_movies_df DataFrame columns are correct. 
wiki_movies_df.columns.to_list()